<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <style type="text/css">
            * {
                box-sizing: border-box;
                font-family: 'Open Sans', sans-serif;
                color: #e0e0e0;
            }

            html, body {
                margin: 0;
                padding: 0;
                width: 100vw;
                height: 100vh;
            }

            #canvas-background {
                position: absolute;
                min-width: 100vw;
                min-height: 100vh;
                z-index: -3;

                background: rgb(26, 26, 26);
            }

            .content {
                padding: 140px 30px 40px;
                margin: 0 auto;
                max-width: 1200px;
                width: 100%;
                min-height: 100vh;
            }

            p {
                font-size: 18px;
                line-height: 1.2;
                padding: 20px 40px
            }

            p.left {
                max-width: 800px;
                margin-right: auto;
            }

            p.right {
                max-width: 800px;
                margin-left: auto;
            }

            article {
                margin-bottom: 150px;
            }
        </style>
    </head>
    <body>
        <canvas id="canvas-background"></canvas>
        <div class="content">
            <h1 class="cutout" style="display: inline">Hey there!
                I'm Sean Templeton,
                Software Aficionado</h1>
            <article>
                <p class="cutout left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at diam a quam fringilla tincidunt. Maecenas nec venenatis sapien, ac pharetra dui. Sed elit mauris, sollicitudin ac purus nec, fermentum volutpat quam. Aliquam ac semper arcu, scelerisque vulputate ipsum. Donec tempus imperdiet sodales. Nullam id orci eros. Duis mattis imperdiet nisi, sit amet viverra eros accumsan in. Vivamus id maximus ex, at sodales ipsum. Suspendisse nec tortor sagittis, dapibus libero vitae, convallis purus.</p>
                <p class="cutout">Donec eu hendrerit diam, id semper lorem. Nunc laoreet ultrices vulputate. Proin massa magna, iaculis a commodo vel, volutpat eget orci. Integer congue nunc nec dolor luctus vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tempor urna eget ligula accumsan commodo. Aliquam erat volutpat. Cras finibus mollis ex ut pellentesque. Ut eu dolor vitae massa scelerisque tempor at a augue. Curabitur eget mauris eget massa fermentum vestibulum a at massa. Phasellus lacinia elit vel felis vulputate ornare. In hac habitasse platea dictumst.</p>
                <p class="cutout">Vestibulum turpis ligula, rhoncus non tempus eget, interdum non eros. Nunc porttitor, nisl quis viverra malesuada, libero nisi faucibus metus, sed lacinia ipsum justo non dolor. Proin ultricies nisi sed consectetur aliquam. Donec eu sodales felis. Praesent fermentum ante a dui ullamcorper mollis. Donec ac nisi urna. Phasellus faucibus massa nibh, at iaculis arcu sagittis quis. Nunc pellentesque porttitor commodo. Suspendisse tempus, nunc id tincidunt consectetur, arcu metus venenatis nisi, sit amet tincidunt risus quam et mi. Vivamus in tincidunt leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vitae nisi rhoncus, faucibus enim sit amet, fringilla massa. Nam lacinia nibh lorem, eu accumsan nisl lacinia eu.</p>
                <p class="cutout right">Praesent eget justo vitae tellus bibendum efficitur. Proin lectus massa, pulvinar eu commodo vel, venenatis in purus. Morbi id lobortis nunc, vel pharetra neque. In pellentesque vitae ex sed luctus. Etiam at auctor nulla. Nam luctus erat ac quam pretium, sed commodo elit aliquam. Curabitur tristique urna arcu, ut bibendum sem eleifend malesuada. Aenean a pulvinar orci. Proin at libero congue enim fermentum fermentum.</p>
            </article>
            <article class="cutout">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at diam a quam fringilla tincidunt. Maecenas nec venenatis sapien, ac pharetra dui. Sed elit mauris, sollicitudin ac purus nec, fermentum volutpat quam. Aliquam ac semper arcu, scelerisque vulputate ipsum. Donec tempus imperdiet sodales. Nullam id orci eros. Duis mattis imperdiet nisi, sit amet viverra eros accumsan in. Vivamus id maximus ex, at sodales ipsum. Suspendisse nec tortor sagittis, dapibus libero vitae, convallis purus.</p>
                <p>Donec eu hendrerit diam, id semper lorem. Nunc laoreet ultrices vulputate. Proin massa magna, iaculis a commodo vel, volutpat eget orci. Integer congue nunc nec dolor luctus vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tempor urna eget ligula accumsan commodo. Aliquam erat volutpat. Cras finibus mollis ex ut pellentesque. Ut eu dolor vitae massa scelerisque tempor at a augue. Curabitur eget mauris eget massa fermentum vestibulum a at massa. Phasellus lacinia elit vel felis vulputate ornare. In hac habitasse platea dictumst.</p>
                <p>Vestibulum turpis ligula, rhoncus non tempus eget, interdum non eros. Nunc porttitor, nisl quis viverra malesuada, libero nisi faucibus metus, sed lacinia ipsum justo non dolor. Proin ultricies nisi sed consectetur aliquam. Donec eu sodales felis. Praesent fermentum ante a dui ullamcorper mollis. Donec ac nisi urna. Phasellus faucibus massa nibh, at iaculis arcu sagittis quis. Nunc pellentesque porttitor commodo. Suspendisse tempus, nunc id tincidunt consectetur, arcu metus venenatis nisi, sit amet tincidunt risus quam et mi. Vivamus in tincidunt leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vitae nisi rhoncus, faucibus enim sit amet, fringilla massa. Nam lacinia nibh lorem, eu accumsan nisl lacinia eu.</p>
                <p>Praesent eget justo vitae tellus bibendum efficitur. Proin lectus massa, pulvinar eu commodo vel, venenatis in purus. Morbi id lobortis nunc, vel pharetra neque. In pellentesque vitae ex sed luctus. Etiam at auctor nulla. Nam luctus erat ac quam pretium, sed commodo elit aliquam. Curabitur tristique urna arcu, ut bibendum sem eleifend malesuada. Aenean a pulvinar orci. Proin at libero congue enim fermentum fermentum.</p>
            </article>
            <article class="cutout">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at diam a quam fringilla tincidunt. Maecenas nec venenatis sapien, ac pharetra dui. Sed elit mauris, sollicitudin ac purus nec, fermentum volutpat quam. Aliquam ac semper arcu, scelerisque vulputate ipsum. Donec tempus imperdiet sodales. Nullam id orci eros. Duis mattis imperdiet nisi, sit amet viverra eros accumsan in. Vivamus id maximus ex, at sodales ipsum. Suspendisse nec tortor sagittis, dapibus libero vitae, convallis purus.</p>
                <p>Donec eu hendrerit diam, id semper lorem. Nunc laoreet ultrices vulputate. Proin massa magna, iaculis a commodo vel, volutpat eget orci. Integer congue nunc nec dolor luctus vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tempor urna eget ligula accumsan commodo. Aliquam erat volutpat. Cras finibus mollis ex ut pellentesque. Ut eu dolor vitae massa scelerisque tempor at a augue. Curabitur eget mauris eget massa fermentum vestibulum a at massa. Phasellus lacinia elit vel felis vulputate ornare. In hac habitasse platea dictumst.</p>
                <p>Vestibulum turpis ligula, rhoncus non tempus eget, interdum non eros. Nunc porttitor, nisl quis viverra malesuada, libero nisi faucibus metus, sed lacinia ipsum justo non dolor. Proin ultricies nisi sed consectetur aliquam. Donec eu sodales felis. Praesent fermentum ante a dui ullamcorper mollis. Donec ac nisi urna. Phasellus faucibus massa nibh, at iaculis arcu sagittis quis. Nunc pellentesque porttitor commodo. Suspendisse tempus, nunc id tincidunt consectetur, arcu metus venenatis nisi, sit amet tincidunt risus quam et mi. Vivamus in tincidunt leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vitae nisi rhoncus, faucibus enim sit amet, fringilla massa. Nam lacinia nibh lorem, eu accumsan nisl lacinia eu.</p>
                <p>Praesent eget justo vitae tellus bibendum efficitur. Proin lectus massa, pulvinar eu commodo vel, venenatis in purus. Morbi id lobortis nunc, vel pharetra neque. In pellentesque vitae ex sed luctus. Etiam at auctor nulla. Nam luctus erat ac quam pretium, sed commodo elit aliquam. Curabitur tristique urna arcu, ut bibendum sem eleifend malesuada. Aenean a pulvinar orci. Proin at libero congue enim fermentum fermentum.</p>
            </article>
            <article class="cutout">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at diam a quam fringilla tincidunt. Maecenas nec venenatis sapien, ac pharetra dui. Sed elit mauris, sollicitudin ac purus nec, fermentum volutpat quam. Aliquam ac semper arcu, scelerisque vulputate ipsum. Donec tempus imperdiet sodales. Nullam id orci eros. Duis mattis imperdiet nisi, sit amet viverra eros accumsan in. Vivamus id maximus ex, at sodales ipsum. Suspendisse nec tortor sagittis, dapibus libero vitae, convallis purus.</p>
                <p>Donec eu hendrerit diam, id semper lorem. Nunc laoreet ultrices vulputate. Proin massa magna, iaculis a commodo vel, volutpat eget orci. Integer congue nunc nec dolor luctus vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tempor urna eget ligula accumsan commodo. Aliquam erat volutpat. Cras finibus mollis ex ut pellentesque. Ut eu dolor vitae massa scelerisque tempor at a augue. Curabitur eget mauris eget massa fermentum vestibulum a at massa. Phasellus lacinia elit vel felis vulputate ornare. In hac habitasse platea dictumst.</p>
                <p>Vestibulum turpis ligula, rhoncus non tempus eget, interdum non eros. Nunc porttitor, nisl quis viverra malesuada, libero nisi faucibus metus, sed lacinia ipsum justo non dolor. Proin ultricies nisi sed consectetur aliquam. Donec eu sodales felis. Praesent fermentum ante a dui ullamcorper mollis. Donec ac nisi urna. Phasellus faucibus massa nibh, at iaculis arcu sagittis quis. Nunc pellentesque porttitor commodo. Suspendisse tempus, nunc id tincidunt consectetur, arcu metus venenatis nisi, sit amet tincidunt risus quam et mi. Vivamus in tincidunt leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vitae nisi rhoncus, faucibus enim sit amet, fringilla massa. Nam lacinia nibh lorem, eu accumsan nisl lacinia eu.</p>
                <p>Praesent eget justo vitae tellus bibendum efficitur. Proin lectus massa, pulvinar eu commodo vel, venenatis in purus. Morbi id lobortis nunc, vel pharetra neque. In pellentesque vitae ex sed luctus. Etiam at auctor nulla. Nam luctus erat ac quam pretium, sed commodo elit aliquam. Curabitur tristique urna arcu, ut bibendum sem eleifend malesuada. Aenean a pulvinar orci. Proin at libero congue enim fermentum fermentum.</p>
            </article>
        </div>
    </body>
</html>